header {
    display: flex;
    align-items: center;

    background-color: var(--pico-card-background-color);
    border: 1px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);

    padding: 2rem;
    margin-bottom: 2rem;
}

header img {
    max-width: 200px;
    height: auto;

    margin: 2rem;

    border-radius: var(--pico-border-radius);
}

header h1 {
    margin-top: 0;
}

header p {
    margin-bottom: 0;
}